/**
 * FILEPATH: /c:/Users/Yesid Robayo/Desktop/codestockfrontend/src/index.css
 * 
 * This CSS file contains the styles for the index page of the CodeStock frontend.
 * It imports the necessary styles from the Tailwind CSS framework and sets up custom scrollbar styles.
 * Additionally, it imports fonts from Google Fonts for use in the page.
 * 
 * The scrollbar styles are customized using the ::-webkit-scrollbar pseudo-element selectors.
 * The width of the scrollbar is set to 12 pixels, and the track and thumb have their own background colors.
 * When hovering over the thumb, the background color changes.
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #cbd8ec;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
